// Import page-specific CSS files here.
@import "home";
@import "login";
@import "my-events";


.main-container {
  min-height: 100vh;
  display: block;
  position: relative;
  background-color: #F7F7F7;
  align-items: center;
 }
