// Import page-specific CSS files here.
@import "home";
@import "login";
@import "events";


.main-container {
  min-height: 100vh;
  display: block;
  position: relative;
  background-color: #f5f5f5;
 }
