
.content{
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 80vh;
}

.content-singup{
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 110vh;
}

.container-login{
  width: 300px;
  align-items: center;
  margin: 0 auto;
}

.container-login h2{
  text-align: center;
}

.logo{
  width: 270px;
  height: 270px;
  margin: 0 auto;
}

.container-input{
  color: #fff;
}

.form-reset{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shared-links{
  display: flex;
  justify-content: center;
  gap: 20px;

  .btn-login-link{
    width: 100%;
    text-align: center;
  }
}
