.events-container{
  min-height: 100vh;
  display: block;
  position: relative;
  background-color: #1C5428;
}


.event-card{
  .accordion-button{
    background-color: #1C5428;
    color: #fff;
    background-image: none;
  }

  .accordion-button:not(.collapsed) {
    color: #ffffff;
  }

  .accordion-button::after {
    background-image: none;
  }

  .accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: rotate(-180deg);
  }
}

.event-card h2{
  color: #fff;
  font-size: 35px;
  text-align: center;
}



.event-card-2{
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1 ;
  background-image: url("Xtreme trips.png");
  border: 0;
  .info{
    color: rgba(255, 255, 255, 0.705);
    opacity: 1;
    text-align: center;
    padding-top: 90px;
    font-size: 45px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Inconsolata', monospace;
  }

}

.event-card-2 h2{
  opacity: 0;
}

// .info-hover:hover{
//   color: #fff;
//   opacity: 1;
//   text-align: center;
//   padding-top: 151px;
//   font-size: 30px;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   opacity: 1;
// }
