
<section class="container footer">
  <div class="row">
  <div class="col-md-12">
    <h3>Follow us on Linkedin</h3>
    <ul class="social">
      <li><a href="https://www.linkedin.com/in/daniel-rocha-4a2048234/", target="_blank"><svg><use xlink:href="#facebook"></use></svg></a></li>
      <li><a href="https://www.linkedin.com/in/prado-diogo/", target="_blank"><svg><use xlink:href="#google"></use></svg></a></li>
      <li><a href="https://www.linkedin.com/in/heitor-coca-bonanno/", target="_blank"><svg><use xlink:href="#twitter"></use></svg></a></li>
      <li><a href="https://www.linkedin.com/in/raphael-gobatto-laranjeira-60240856/", target="_blank"><svg><use xlink:href="#in"></use><svg></a></li>
    </ul>
    <span class="copyrights">Batch 898 Xtreme Trips.</span>
  </div>
  </div>
</section>
