
<section class="footer">
  <div class="row">
    <h3>Follow us on Linkedin</h3>
    <ul class="social">
      <li><a href="https://www.linkedin.com/in/daniel-rocha-4a2048234/", target="_blank"><img src="https://avatars.githubusercontent.com/u/100440751?v=4", size="32", height="40", width="40", data-view-component="true", class="footer-links"></i></a></li>
      <li><a href="https://www.linkedin.com/in/prado-diogo/", target="_blank"><img src="https://avatars.githubusercontent.com/u/102990540?v=4", size="32", height="40", width="40", data-view-component="true", class="footer-links"></i></a></li>
      <li><a href="https://www.linkedin.com/in/heitor-coca-bonanno/", target="_blank"><img src="https://avatars.githubusercontent.com/u/101654054?v=4", size="32", height="40", width="40", data-view-component="true", class="footer-links"></i></a></li>
      <li><a href="https://www.linkedin.com/in/raphael-gobatto-laranjeira-60240856/", target="_blank"><img src="https://avatars.githubusercontent.com/u/101740686?v=4", size="32", height="40", width="40", data-view-component="true", class="footer-links"></i></a></li>
    </ul>
    <span class="copyrights">Batch 898 Xtreme Trips.</span>
  </div>
</section>
