<div class="footer">
  <div class="footer-info">
    <p>Contact us</p>
    <p>Chama no zap</p>
    <p>Pu puuu</p>
  </div>
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/daniel-rocha-4a2048234/"><img src="https://avatars.githubusercontent.com/u/100440751?v=4", size="32", height="40", width="40", data-view-component="true", class="footer-links"></i></a>
    <a href="https://www.linkedin.com/in/diogo-prado-0aa378238/"><img src="https://avatars.githubusercontent.com/u/102990540?v=4", size="32", height="40", width="40", data-view-component="true", class="footer-links"></i></a>
    <a href="https://www.linkedin.com/in/heitor-coca-bonanno/"><img src="https://avatars.githubusercontent.com/u/101654054?v=4", size="32", height="40", width="40", data-view-component="true", class="footer-links"></i></a>
    <a href="https://www.linkedin.com/in/raphael-gobatto-laranjeira-60240856/"><img src="https://avatars.githubusercontent.com/u/101740686?v=4", size="32", height="40", width="40", data-view-component="true", class="footer-links"></i></a>
  </div>
  <div class="footer-copyright" >
   Designed by <strong>Le Sorriso </strong><i class="far fa-smile"></i>
  </div>
</div>
