<h1>Events</h1>
<% @events.each do |event| %>
  <li style='list-style: none;'><%= event.name %></li>
  <li style='list-style: none;'><%= event.date %></li>
  <li style='list-style: none;'>  <%= event.trail.name %></li>
<% end %>
