<div class="options">
  <% @events.each do |event| %>
  <div class="event-card" style="background-image: url(https://www.canva.com/design/DAFC8lA9tzg/view)">
    <div class="info">
      <li style='list-style: none;'><%= event.name %></li>
      <li style='list-style: none;'><%= event.date %></li>
      <li style='list-style: none;'>  <%= event.trail.name %></li>
    </div>
    <%# <%= link_to "Edit", edit_event_path(event), class: "btn btn-outline-success" %>
  </div>
  <% end %>
</div>
