<div class="container">
  <h2><strong>Create an Event:</strong></h2>
  <%= simple_form_for [@trail, @event] do |f| %>
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.button :submit, class: "btn btn-outline-success" %>
  <% end %>
</div>
