<div class='container'>
  <h1><strong>My trails:</strong></h1>
  <div class='my-trails d-flex justify-content-between'>
    <div class='trail-name'>
      <% @trails.each do |trail| %>
        <li style='list-style: none;'><%= trail.name %></li>
    </div>
    <div class='open-trail-btn'>
        <%= link_to "Open Trail", trail_path(trail), class: "btn btn-login" %>
      <% end %>
    </div>
  </div>
</div>
