.btn-login{
  color: #fff;
  padding: 9px 30px;
  font-size: 19px;
  background: linear-gradient(117deg, #1C5428, #357442);
  border-radius: 21px;
  text-decoration: none;
  font-weight: 100;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.25s ease 0s;
  font-family: 'Montserrat', sans-serif;
}

.btn-login-2{
  color: #fff;
  padding: 9px 30px;
  font-size: 19px;
  background: linear-gradient(117deg, #1C5428, #357442);
  border-radius: 21px;
  text-decoration: none;
  font-weight: 100;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.25s ease 0s;
  font-family: 'Montserrat', sans-serif;
  margin-left: 129px;
}


.container {
  background-color: #F7F7F7;
}


.btn-login-link{
  color: #ffffff;
  border: 1px solid  #ffffff;
  background-color: #ffffff00;
  border-radius: 20px;
  text-decoration: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: box-shadow 0.25s ease 0s;
}

.btn-login-link:hover,
.btn-login-link:focus{
  transition: 0.2s;
  color: #ffffff;
  background-color: #87B38F;
  border: 1px solid  #87B38F;
  padding: 9px 14px;
  background: linear-gradient(117deg, #3A694D, #87B38F);
  box-shadow: 0 0.1rem 0.8rem #3A694D;
}

.btn-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 6px;
}
