a {
  margin: 5px;
}

.btn-card{
  font-family: 'Open Sans';
  color: #3A694D;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px ;
  border-bottom: 1px solid #3A694D;
  display: inline-block;
  transition: all 0.6s ease 0s;
}

.btn-card:hover {
  color: #3A694D;
  border: none;
  transition: all 0.3s ease 0s;

}


.btn-outline-success {
  font-family: 'Open Sans';
  color: #3A694D !important;
  text-transform: uppercase;
  background: #CDE6D1;
  padding: 4px;
  border: 2px solid #3A694D !important;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.btn-outline-success:hover {
  color: #3A694D !important;
  border-radius: 50px;
  border-color: #3A694D !important;
  transition: all 0.6s ease 0s;
  background-color: #87B38F;
}
#btn-edit {
  text-align: center;
 }

#trail_photo {
  display: none;
}
.add_photo_label {
  color: #fff;
  padding: 9px 30px;
  font-size: 19px;
  background: linear-gradient(117deg, #1C5428, #357442);
  border-radius: 21px;
  text-decoration: none;
  font-weight: 100;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.25s ease 0s;
  font-family: 'Montserrat', sans-serif;
}
