.btn-login{
  color: #ffffff;
  border: 1px solid  #ffffff;
  background-color: #ffffff00;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.25s ease 0s;
}


.btn-login:hover,
.btn-login:focus{
  transition: 0.2s;
  color: #ffffff;
  background-color: #87B38F;
  border: 1px solid  #87B38F;
  padding: 7px 13px;
  background: linear-gradient(117deg, #3A694D, #87B38F);
  box-shadow: 0 0.1rem 0.8rem #3A694D;
}

.btn-login-link{
  color: #ffffff;
  border: 1px solid  #ffffff;
  background-color: #ffffff00;
  border-radius: 20px;
  text-decoration: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: box-shadow 0.25s ease 0s;
}

.btn-login-link:hover,
.btn-login-link:focus{
  transition: 0.2s;
  color: #ffffff;
  background-color: #87B38F;
  border: 1px solid  #87B38F;
  padding: 9px 14px;
  background: linear-gradient(117deg, #3A694D, #87B38F);
  box-shadow: 0 0.1rem 0.8rem #3A694D;
}

<<<<<<< HEAD
=======

>>>>>>> 7c09f5c58296d129fe517dbc48bd974013bca430
.btn-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 6px;
}

