.card-trip {
  background: #eee8e873;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  overflow: hidden;
  margin-bottom: 50px;
  padding: 10px;
}

.card-trip > img {
  height: 200px;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: inline-block;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-btn {
  display: inline-flex;
}

.card-avatar{
  margin-top: 15px;
  margin-left: 50px;
}
