.card-trip {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  overflow: hidden;
  margin-bottom: 50px;
  padding: 10px;
}

.card-trip > img {
  height: 100%;
  border-radius: 10px;
  width: 100%;

}

.card-category  h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.card-category  p {
  font-size: 16px;
  opacity: .8;
  margin: 0;
}


.card-category  .card-trip-infos {
  padding: 16px;
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-btn {
  display: flex;
  justify-content: space-evenly;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.avatar-card {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-name {
  margin: 5px;
}