
.footer {
    /* background: transparent; */
    /* opacity: 1; */
    display: flex;
    align-items: center;
    /* text-align: center; */
    /* justify-content: space-between; */
    height: 140px;
    padding: 10px;
    /* color: rgba(255, 255, 255, 0.106); */
    /* margin-top: auto; */
    /* right: 0px; */
    /* left: 0px; */
    bottom: 0px;
    width: 100%;
    /* z-index: 1; */
    margin-bottom: 64px;
}

.row {
  align-items: center;
  text-align: center;
  position: absolute;
  background: #cde6d100;
  color: #1c442598;
}

.copyrights {
  font-size: 14px;
  font-weight: 400px;
  color: #1c442598;
}

a:link {
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  color: #bbbbbb;
}


.social {
  margin-bottom: 12px;

  & li {
    display: inline-block;
    padding: 0 5px;
      }
}
.footer-links {

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.footer-links:hover {
          background-color: rgba(255, 255, 255, 0.2);
          transform: scale(1.25);
        }
/* Main */

body {
  background-color: #ffffff00;
  background-image: url("");
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}
