.copyrights {
  font-size: 14px;
  font-weight: 40px;
  padding: 10px;
}

a:hover {
  text-decoration: none;
  color: #bbbbbb;
}


.social {
  margin-bottom: 5px;

  & li {
    display: inline-block;
    padding: 5px;
      }
}
