.glass {
  background: rgba(33, 163, 0, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.51);
  padding: 20px;
}

.start-stop {
  text-align: center;
  margin-top: 20px;
}

.btn-start {
  border-radius: 25%;
  background-color: rgb(39, 168, 0);
}

.btn-stop {
  border-radius: 25%;
  background-color: rgb(255, 0, 0);
}