#map {
  width: 100%;
  height: 100%;
}

.mapbox-canvas {
  width: 400px;
  height: 160px;
}

.map-card {
  width: 375px;
  height: 400px;
}

#map-checkpoint {
  height: 480px;
}

.marker {
  background-color: red;
  width: 20px;
  height: 20px;
}
