.navbar-lewagon {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}

:root{
  --clr: #F5F5F5;
}

.icon-navbar{
  width: 30px;
  margin-top: 5px;
  opacity: 0.7;
}

.icon-navbar:hover{
  opacity: 1;
}

.avatar-bottom{
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-top: -50%;
  border: 7px solid var(--clr)
}

.fas{
  color: #F5F5F5;
  font-size: 22px;
  margin-top: 4px;
}

.navbar-user{
  position: absolute;
  bottom: 15px;
}

.navbar-xtreme {
  justify-content: space-between;
  background: white;
}

.navbar-xtreme .navbar-collapse {
  flex-grow: 0;
}

.navbar-xtreme .navbar-brand img {
  width: 130px;
}

.my-navbar {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.icon-color {
  color: #24412F;
}

.navbar-avatar {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 2px;
  transition: box-shadow 0.15s ease-in-out;
}
